{% extends '_layout/dashboard/layout.twig' %}

{% block title 'Notes' %}

{% block javascripts %}
    <!-- START::JSColor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.6/jscolor.min.js"></script>
    <script>
        // let's set defaults for all color pickers
        jscolor.presets.default = {
            width: 141,               // make the picker a little narrower
            previewSize: 40,          // make the color preview bigger
            palette: [
                '#000000', '#7d7d7d', '#870014', '#ec1c23', '#ff7e26',
                '#fef100', '#22b14b', '#00a1e7', '#3f47cc', '#a349a4',
                '#ffffff', '#c3c3c3', '#b87957', '#feaec9', '#ffc80d',
                '#eee3af', '#b5e61d', '#99d9ea', '#7092be', '#c8bfe7',
            ],
        };
    </script>
{% endblock %}

{% block body %}
    {{ include('_notifications.twig') }}
    <div class="card">
        <div class="card-column d-flex">
            <div class="card-aside card-aside-left">
                <div class="card-inner border-bottom">
                    <h3>Gestion des notes</h3>
                </div>
                <div class="card-inner">
                    <a class="btn btn-light-info d-block" href="/admin/add-sticky"><i class="ri-add-circle-line"></i> Ajouter une note</a>
                </div>
            </div>
            <div class="card-inner card-table nopg fg-1">
                {% if stickies is empty %}
                    {{ viewAlert('info', "Il n'y aucune note en base de données") | raw }}
                {% else %}
                {% endif %}
                <!-- START Stick Sticky -->
                <div id="stick__sticky">
                    <div class="card-inner-header border-bottom pg1 pd-b1">
                        <h3>Toutes les notes</h3>
                    </div>
                    <div class="pg1 pd-b-0">
                        <div class="grid-12">
                            {% for item in stickies %}
                                <div class="col-3_sm-12 col-start">
                                    <a class="popup-trigger" href="#" data-popup-trigger="aside-edit-modal-{{ item.id }}">
                                        {{ include('sticky/admin/_item.twig') }}
                                    </a>
                                    <!-- /modal -->
                                    <form method="post" action="/admin/sticky/delete">
                                        <input type="hidden" name="id" value="{{ item.id }}">
                                        {{ include('dashboard/_modal-delete.twig', {'id' : item.id , 'title' : item.title, 'note': false}) }}
                                    </form>
                                    <!-- /.modal -->
                                    <!-- Aside Edit -->
                                    {{ include('sticky/admin/aside_edit.twig', {id: item.id}) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal -->
    <form method="post" action="/admin/sticky/all-delete">
        <input type="hidden" value="" name="delete">
        {{ include('dashboard/_modal-delete.twig', {'id':'all-stickies' , 'title':'Supprimer toutes les notes', 'note': ''}) }}
    </form>
    <!-- /.modal -->
{% endblock %}