{% extends '_layout/dashboard/layout.twig' %}

{% block title 'Gestion des équipements' %}

{% block body %}
    {{ include('_notifications.twig') }}
    <div class="grid-12">
        <div class="col-12_sm-12">
            <div class="card">
                <form class="form-big" method="post">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            <h4 class="card-title">{{ equipment.name }}</h4>
                            <span>Configuration matériels depuis le fichier de BAO</span>
                        </div>
                        <div>
                            {{ form.submitDefault('Confirmer les données', 'primary') | raw }}
                        </div>
                    </div>
                    <div class="card-body card-tabs nopg">
                        <div class="admin-form tabs-form">
                            <ul id="tabs">
                                <li><a href="#tab1"><i class="ri-file-fill"></i> Mise à jour de la configuration</a></li>
                            </ul>
                            <div class="tabs-pe pg2">
                                <div class="tabContent" id="tab2">
                                    {{ viewAlert('info', "<strong>Confirmer les données</strong> ajoutera ses données en base de données") | raw }}
                                    <div class="grid-12">
                                        <div class="col-7_sm-12">
                                            <div class="grid-12">
                                                <div class="col-6_sm-12">
                                                    {{ form.inputWithVar('r_install_date', "Date d'installation", false, false, false, files.r_install_date) | raw }}
                                                    {{ form.inputWithVar('r_pc_name', 'Nom du PC', false, false, false, files.r_pc_name) | raw }}
                                                    {{ form.inputWithVar('r_bios', 'BIOS version', false, false, false, files.r_bios) | raw }}
                                                    {{ form.inputWithVar('r_manufacturer', "Modèle", false, false, false, files.r_manufacturer) | raw }}
                                                    {{ form.inputWithVar('r_sn', "Numéro de série", false, false, false, files.r_sn) | raw }}
                                                </div>
                                                <div class="col-6_sm-12">
                                                    {{ form.inputWithVar('r_cpu', "Processeur", false, false, false, files.r_cpu) | raw }}
                                                    {{ form.inputWithVar('r_socket', 'Socket', false, false, false, files.r_socket) | raw }}
                                                    {{ form.inputWithVar('r_mb', 'Carte mère', false, false, false, files.r_mb) | raw }}
                                                    {{ form.inputWithVar('r_ram', 'RAM', false, false, false, files.r_ram) | raw }}
                                                    {{ form.inputWithVar('r_cg', 'GPU', false, false, false, files.r_cg) | raw }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5_sm-12">
                                            {{ form.inputWithVar('r_hdd0', 'HDD0', false, false, {'type':'textarea'}, files.r_hdd0) | raw }}
                                            {{ form.inputWithVar('r_hdd1', 'HDD1', false, false, {'type':'textarea'}, files.r_hdd1) | raw }}
                                            {{ form.inputWithVar('r_hdd2', 'HDD2', false, false, {'type':'textarea'}, files.r_hdd2) | raw }}
                                            {{ form.inputWithVar('r_hdd3', 'HDD3', false, false, {'type':'textarea'}, files.r_hdd3) | raw }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}