{% if client is empty or countEquipment == 0 %}
    {{ viewAlert('danger', "Erreur : <strong>aucun client/équipement en base de données</strong>.<br>") | raw }}
    <a class="btn btn-primary" href="/admin/add-client" title="Ajouter mon premier client">Ajouter un client</a>
    <a class="btn btn-primary" href="/admin/add-equipment" title="Ajouter mon premier équipement">Ajouter un équipement</a>
{% else %}
    <div class="tabs-pe pg2">
        <div class="tabContent" id="tab1">
            <div class="tabContent-title-inner">
                <h4>Client et équipement</h4>
            </div>
            {% if withClientAndEquipment is defined %}
                <div class="grid-12">
                    <div class="col-6_sm-12">
                        {{ include('intervention/admin/include/_client.twig') }}
                    </div>
                    <div class="col-6_sm-12">
                        {{ include('intervention/admin/include/_equipment.twig') }}
                    </div>
                </div>
            {% endif %}
            <!-- Client -->
            {% if client is empty %}
                <p><span class="label label-danger">Il n'y a aucun client d'enregistré dans la base de données.</span></p>
            {% else %}
                {% if withClient == 1 %}
                    <div class="grid-12">
                        <div class="col-6_sm-12">
                            {{ include('intervention/admin/include/_client.twig') }}
                        </div>
                        <div class="col-6_sm-12">
                            {{ form.select('equipment_id', 'Equipement', computer) | raw }}
                        </div>
                    </div>
                {% elseif withClient == 2 %}
                    {{ form.selectLinked('Selectionnez un client', 'client_id', 'Client', 'select_equipments', '/admin/equipments/byclient/$id', client) | raw }}
                    <!-- Computer -->
                    <div class="form-group">
                        <label class="form-label">Equipement <span style="color:red">*</span></label>
                        <select class="form-input" id="select_equipments" name="equipment_id" style="display:none;">
                            <option value="0">Selectionnez un équipement</option>
                        </select>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="tabContent" id="tab2">
            <div class="tabContent-title-inner">
                <h4>Contenu de l'intervention</h4>
            </div>
            {{ form.select('inter_type', "Type d'intervention", {1 : 'Dépannage', 2 : 'Visite Périodique', 3 : 'Préparation de poste', 4 : 'Assemblage'}) | raw }}
            {{ form.input('title', "Titre de l'intervention", "Le nom que porte votre intervention") | raw }}
            {{ form.textareaDefault('description', "Description", "Courte description de l'intervention") | raw }}
            {{ form.textareaMde('details', 'Décrivez les actions en temps réel', '- Ma première étape', 'Un tiret (-) avant chaque étape suivi d\'un retour à la ligne.') | raw }}
        </div>
        <div class="tabContent" id="tab3">
            <div class="tabContent-title-inner">
                <h4>Notes et observations</h4>
            </div>
            <div class="grid-12">
                <div class="col-6_sm12">
                    {{ form.textareaDefault('observation', "Observation", "Note supplémentaire suite à l'intervention") | raw }}
                </div>
                <div class="col-6_sm12">
                    {{ form.textareaDefault('note_tech', "Note technicien", "Note du technicien", '<i class="icofont-info-circle"></i> Cette note n\'est visible que par le technicien') | raw }}
                </div>
            </div>
        </div>
        <div class="tabContent" id="tab4">
            <div class="tabContent-title-inner">
                <h4>Paramètres</h4>
            </div>
            <div class="grid-12">
                <div class="col-6_sm-12">
                    {{ form.select('status_id', 'Status', status) | raw }}
                </div>
                <div class="col-6_sm-12">
                    {{ form.select('steps', 'Steps', {1: 'Matériel récupéré', 2: 'En atelier', 3: 'Tests finaux', 4: 'Terminé'}) | raw }}
                </div>
            </div>
            <!-- Number -->
            {{ form.input('number', 'Numéro', 'Numéro Intervention; Ex : 20200100112', '<i class="icofont-info-circle"></i> Laissez vide pour le générer automatiquement') | raw }}
            <!-- Received -->
            <div id="dateDep">
                {{ form.tailDatetimeWithValue('received', 'Date de dépot', "now"|date("m/d/Y") ,'Laissez vide si PMAD') | raw }}
            </div>
            <!-- PMAD -->
            {{ form.checkbox('pmad', 'A distance (PMAD) ?', 'pmad') | raw }}
            {{ form.submit('primary', 'Enregistrer') | raw }}
        </div>
    </div>
{% endif %}

