{% extends '_layout/dashboard/layout.twig' %}

{% block title %}Interventions{% endblock %}

{% block javascripts %}
    <script src="{{ getenv('APP_THEME') }}/js/search.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="admin-content">
            {{ include('_notifications.twig') }}
            <div class="card">
                <div class="card-header">
                    <div class="grid-12 -noGutter">
                        <div class="col-8_sm-12">
                            <h4 class="card-title">Liste des interventions</h4>
                        </div>
                        <div class="col-4_sm-12 text-right">
                            <div class="form-group nomg">
                                <label class="form-label" for="txtHint" style="display:none">Rechercher</label>
                                <input type="text" autocomplete="off" onkeyup="searchIntervention(this.value)" class="form-input underlined" id="txtHint" placeholder="Rechercher une intervention par sa référence">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="results" id="txtName"></div>
                <div class="card-table">
                    {% if interventions is empty %}
                        {{ viewAlert('info',"Il n'y a aucune intervention d'enregistrée pour le moment") | raw }}
                    {% else %}
                        <table class="table-default">
                            <thead>
                            <tr>
                                <th>Etat</th>
                                <th>Date</th>
                                <th>Réf.</th>
                                <th>Type</th>
                                <th>Ordinateur</th>
                                <th>Dénomination</th>
                                <th>Statut</th>
                                <th>Retrait</th>
                                <th>Technicien</th>
                                <th>Client</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for intervention in interventions %}
                                <tr onclick="document.location = '{{ intervention.UrlAdmin(intervention.idi) }}';" style="cursor: pointer">
                                    <td>
                                        {{ intervention.etat | raw }}
                                        {% if intervention.pmad == 1 %}<i class="icofont-hand"></i>{% endif %}
                                    </td>
                                    <td>{{ intervention.icreated | format_date('none', 'EEEE d MMM Y', null, 'gregorian', 'fr') }}</td>
                                    <td>{{ intervention.number }}</td>
                                    <td>{{ interType(intervention.inter_type) | raw }}</td>
                                    <td>{{ intervention.tcomputer }}</td>
                                    <td><strong>{{ intervention.tinter }}</strong></td>
                                    <td>{{ labelCustom(intervention.bgcolor, intervention.txtcolor, intervention.tstatus) | raw }}</td>
                                    <td>
                                        {% if intervention.back_home is defined and intervention.back_home is not null %}
                                        <span class="label badge-light-success">{{ intervention.back_home | format_date('none', 'EEEE d MMM Y', null, 'gregorian', 'fr') }}</span>
                                        {% else %}
                                            <span class="label badge-default">N/A</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if intervention.i_auser_id is null %}
                                            <i class="ri-user-unfollow-line"></i> <i>{{ intervention.author_name }}</i>
                                        {% else %}
                                            {{ intervention.apseudo }}
                                        {% endif %}
                                    </td>
                                    <td><strong>{{ intervention.c_fullname }}</strong></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <div class="columns">
                        <div class="column">
                            {{ dataPaginator | raw }}
                        </div>
                        <div class="column text-right">
                            <div style="vertical-align: middle">
                                <span class="label badge-light-danger rounded-circle" style="width:20px;height:20px;"></span> Non cloturée <span class="label badge-light-success rounded-circle" style="width:20px;height:20px;"></span> Cloturée
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}