{% extends '_layout/dashboard/layout.twig' %}

{% block title %}Débours n° {{ outlay.number }}{% endblock %}

{% block stylesheets %}
    <!-- START::SimpleMDE -->
    <link rel="stylesheet" href="{{ getenv('APP_ROOT_PUBLIC') }}/assets/javascript/simplemde/simplemde.min.css">
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    [].forEach.call(document.getElementsByClassName('area-mdeditor'),element => {
    const simplemde = new SimpleMDE({
    element: element,
});
});
</script>
{% endblock %}

{% block body %}
    <div class="section--admin">
        <div class="container">
            {{ include('_notifications.twig') }}
            <div class="admin-content">
                <form class="form-big" method="post">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Modifier un débours</h4>
                            <span class="text-primary">N°{{ outlay.number }}</span> - Créé par {{ user.fullname }}</div>
                        <div class="card-body">
                            {{ include('outlay/admin/_form.twig') }}
                            {% if outlay.toclosed == 1 %}
                                <span class="label label-success"><i class="fas fa-check-circle"></i> <strong>Remboursé par le client</strong></span><br><br>
                                {{ form.submitDefault('Mettre à jour', 'primary', 'update') | raw }}
                            {% else %}
                                {{ form.submitDefault('Mettre à jour', 'primary', 'update') | raw }}
                                {{ form.submitDefault('Supprimer signature', 'success', 'sign_delete') | raw }}
                                {{ form.submitDefault('Cloturer', 'danger', 'cloture') | raw }}
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END .cards -->
{% endblock %}